* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", serif;
  color: #323439;
}
html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  min-height: 200px;
  max-height: 585px;
  width: 348px;
  overflow: hidden;
}
.modal-header {
  padding: 0 1em;
  width: 100%;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.logo {
  height: auto;
  padding: 1.5em 0 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.logo-icon {
  vertical-align: middle;
  margin-right: 12px;
}
h1 {
  font-family: "Lato", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
.small {
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  padding-left: 3px;
}
.small-danger {
  color: rgba(255, 82, 82, 0.87);
}
a:link,
a:visited {
  color: #000;
  outline: 0;
}
img {
  width: 30px;
}

.modal-content {
  position: relative;
  font-size: 15px;
  color: #323439;
  line-height: 24px;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 4px;
}
.brdr-btm {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  position: absolute;
  bottom: 0;
  width: calc(100% - 55px);
}
.btn {
  text-transform: uppercase;
  padding: 6px;
  border: none;
  cursor: pointer;
  width: 80px;
  margin-top: 2px;
}
.btn-outline-danger,
.btn-outline-yellow,
.btn-outline-success {
  position: absolute;
  bottom: 15px;
  right: 33px;
  color: rgba(255, 82, 82, 0.87);
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgba(255, 82, 82, 0.87);
}
.btn-outline-success {
  bottom: 0px;
}
.btn:hover {
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.btn-outline-danger:hover,
.btn-outline-yellow:hover,
.btn-outline-success:hover {
  background-color: rgba(255, 82, 82, 0.87);
}
.btn:visited,
.btn:focus {
  outline: none;
}
.or {
  text-align: center;
}
label {
  display: block;
}
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  width: calc(100% - 55px);
}

input[type="text"]:focus {
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}
.modal-list {
  overflow-x: auto;
  overflow-y: auto;
  max-width: calc(100% - 35px);
  max-height: 150px;
  padding-left: 25px;
  margin: 0;
}
.modal-list li {
  line-height: 0.9em;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#child::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
